
html, body{
  margin-left: 0;
  padding: 0;
}

body{
  font-family: inherit;
  font-weight: 100;
  background-color: #EBDEF0;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

.header {
  background: url(https://data.whicdn.com/images/309052566/large.png) no-repeat center center;
  background-size: cover;
  height: 800px;
  text-align: center;
  }

  .header .container{
    position: relative;
    top: 200px;
  }

.header h1 {
  font-family: 'Playfair Display', serif;
  color: #fff;
  line-height: 100px;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase
}
.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  text-transform: uppercase;
}

.web {
  color: #F48FB1;
  font-family: Lucida Bright;
  font-size: 30px;
  text-align: center;
}

h2{
  color: #F48FB1;
  font-family: Lucida Bright;
  font-size: 30px;
  text-align: center;
}

.description{
  font-size: 22px;
  text-align: center
}


h3{
  color: #9B59B6;
  font-family: Lucida Bright;
  font-size: 21px;
  text-align: center;
}

h4{
  color: #F48FB1;
  font-family: Lucida Bright;
  font-size: 30px;
  text-align: center;
}

h5{
  font-size: 23px;
  color: #9B59B6;
  font-family: Lucida Bright;
  text-align: center;
}


p{
  text-align: center;
  font-size: 22px;
}

h6{
  font-size: 23px;
  color: #9B59B6;
  font-family: Lucida Bright;
  text-align: center;
}

#title{
  font-size: 23px;
  color: #9B59B6;
  font-family: Lucida Bright;
}

#theabc {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Theunivac {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#FORTRAN {
  width: 470px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#PDP-1 {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  background: #F8BBD0;
  height: 80px;
  width: 100%;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav ul li {
  color: #fff;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
  transition: background .5s;
}

.btn:hover, .nav ul li:hover {
  background: #CE93D8;
  cursor: pointer;
  transition: background .5s;
